<div class="container">
    <p class="fs-1 text-center">Date JS Moment</p>
    <div class="mt-5 p-5 border rounded" style="background-color: beige;">
        <p class="fs-4">Format ISO 8601</p>
        <div class="row gy-2">
            <div class="col-6">Normal</div>
            <div class="col-6">{{getDateFormat()}}</div>
            <div class="col-6">YYYY-MM-DD h:mm:ss</div>
            <div class="col-6">{{getDateFormat('YYYY-MM-DD h:mm:ss')}}</div>
            <div class="col-6">YYYYMMDD h:mm:ss</div>
            <div class="col-6">{{getDateFormat('YYYYMMDD h:mm:ss')}}</div>
            <div class="col-6">YYYY-DDD h:mm:ss</div>
            <div class="col-6">{{getDateFormat('YYYY-DDD h:mm:ss')}}</div>
            <div class="col-6">YYYYDDD h:mm:ss</div>
            <div class="col-6">{{getDateFormat('YYYYDDD h:mm:ss')}}</div>
            <div class="col-6">GGGG-W h:mm:ss</div>
            <div class="col-6">{{getDateFormat('GGGG-W h:mm:ss')}}</div>
            <div class="col-6">GGGGW h:mm:ss</div>
            <div class="col-6">{{getDateFormat('GGGGW h:mm:ss')}}</div>
        </div>
    </div>

    <div class="mt-5 p-5 border rounded" style="background-color:rgb(250, 210, 141);">
        <p class="fs-4">Compare Date</p>
        <p>Date1 = {{date1}}</p>
        <p>Date2 = {{date2}}</p>
        <div class="row gy-2">
            <div class="col-6">Year</div>
            <div class="col-6">{{compareDate(date1, date2, 'year')}}</div>
        </div>
    </div>
</div>