<div class="container mt-5">
  <p class="fs-1 text-center">Airports</p>
  <form class="row" [formGroup]="airportsFrom">
    <div class="form-group col-md-6">
      <label>Departure</label>
      <input class="form-control" [ngClass]="{'border-danger':airportsFrom.controls['departure'].dirty && airportsFrom.controls['departure'].errors}" type="text" formControlName="departure" appCheckAirport (getInfoAirport)="departureInfo = $event" />
      <span  class="text-danger" *ngIf="airportsFrom.controls['departure'].dirty && airportsFrom.controls['departure'].errors" >{{airportsFrom.controls['departure'].errors | json}}</span>
      <span  style="font-size: 12px;" *ngIf="departureInfo">{{departureInfo | jsonAirportInfo}}</span>
    </div>
    <div class="form-group col-md-6">
      <label>Destination</label>
      <input class="form-control" [ngClass]="{'border-danger':airportsFrom.controls['destination'].dirty && airportsFrom.controls['destination'].errors}" type="text" formControlName="destination" appCheckAirport (getInfoAirport)="destinationInfo = $event" />
      <span  class="text-danger" *ngIf="airportsFrom.controls['destination'].dirty && airportsFrom.controls['destination'].errors">{{airportsFrom.controls['destination'].errors | json}}</span>
      <span style="font-size: 12px;" *ngIf="destinationInfo">{{destinationInfo | jsonAirportInfo}}</span>
    </div>
  </form>
  <div class="m-5 text-center">airportsFrom: {{airportsFrom.value | json}}</div>
</div>
